body{
    display: grid;
    grid-template-areas: 'header header header header'
                         'nav nav nav nav'
                         'section section aside aside '
                         'footer footer footer footer';
    grid-auto-rows: 10vh 20vh 70vh 20vh;
    margin: 0;
}
header{
    grid-area: header;
    height: 150px;
    background-color: blue;
}

nav{
    grid-area: nav;
    background-color: green;
    height: 80px;
}
aside{
    grid-area: aside;
    background-color: red;
    height: 300px;
    width: 20vw;
}
section{
    grid-area: section;
    background-color: purple;
    height: 300px;
    width: 80vw;
}
footer{
    grid-area: footer;
    background-color: yellow;
    height: 200px;
}
